<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 		xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Burger Cloud</title>
	<link href="url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');">
	<link th:href="@{/styles/homeStyle.css}" rel="stylesheet" >
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		li a:hover {
			color: white;
			transition-duration: 0.4s;
		}
		button:hover {
			color: white;
			background: #3FC38C;
		}
	</style>
</head>

<body>
	<header>
		<div>
			<nav>
			 <ul>
			  <li><a href="/">Home</a></li>
			  <li>
			  	<a th:if="${user==null}" href="/login" >Log in</a>
			  	<a th:if="${user!=null}" href="/lobby" th:text="${user.userName}"></a>
			  </li>
			  <li><a href="/">About</a></li>
			 </ul>
			</nav>
		</div>
	</header>
	<br/><br/><br/><br/><br/><br/>
	<img class="center" th:src="@{/images/BurgerCloudLogo.png}"/>
	<br>
	<form>
		<div class="wrapper">
			<button class="main-button" type="submit" formaction="/order">ORDER BURGERS!</button>
		</div>
		<br/>
		<div class="wrapper">
			<button class="main-button" type="submit" formaction="/login">LOG IN / REGISTER</button>
		</div>
	</form>
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>