<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 		xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Burger Cloud</title>
	<link href="url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');">
	<link th:href="@{/styles/lobbyStyle.css}" rel="stylesheet" >
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		li a:hover {
			color: white;
			transition-duration: 0.4s;
		}
		img {
			animation-duration: 2s;
			animation-name: slidein;
		}
		div header {
			animation-duration: 2s;
			animation-name: slidein;
		}
		.bottom header a:hover{
			color: #3FC38C;
			transition-duration: 0.4s;
		}
		.bottom button:hover {
			color: white;
			background: #3FC38C;
		}
	
	</style>
</head>

<body>
	<header>
		<div>
			<nav>
			 <ul>
			  <li><a href="/">Home</a></li>
			  <li><a href="/login">Log in</a></li>
			  <li><a href="/">About</a></li>
			 </ul>
			</nav>
		</div>
	</header>
	<br/><br/><br/><br/><br/><br/>
	<div class="bottom">
		<img th:src="@{/images/BurgerCloudLogo.png}"/>
		<header>
			<nav>
			 <ul>
			  <li><form action="/">
			  	<button type="submit">HOME</button>
			  </form></li>
			  <li><form action="/">
			  	<button type="submit">ORDERS HISTORY</button>
			  </form></li>
			  <li><form action="/">
			  	<button type="submit" formaction="/order">ORDER BURGERS!</button>
			  </form></li>
			 </ul>
			</nav>
		</header>
	</div>
	
	
</body>
</html>