<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 		xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Burger Cloud</title>
	<link href="url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');">
	<link th:href="@{/styles/lobbyStyle.css}" rel="stylesheet" >
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
	
		ion-icon {
		  --ionicon-stroke-width: 23px;
		  font-size: 30px;
		}
		li a:hover {
			color: white;
			transition-duration: 0.4s;
		}
		
		.bottom header a:hover{
			color: #3FC38C;
			transition-duration: 0.4s;
		}
		.bottom button:hover {
			color: white;
			background: #3FC38C;
		}
		.bottom button.logout:hover {
			color: white;
			background: #FF4F4D;
		}
	
	</style>
</head>

<body>
	<header>
		<div>
			<nav>
			 <ul>
			  <li><a href="/">Home</a></li>
			  <li>
			  	<a th:if="${user==null}" href="/login" >Log in</a>
			  	<a th:if="${user!=null}" href="/lobby" th:text="${user.userName}"></a>
			  </li>
			  <li><a href="/">About</a></li>
			 </ul>
			</nav>
		</div>
	</header>
	<br/><br/>
	<div class="bottom">
		<img th:src="@{/images/BurgerCloudLogo.png}"/>
		<header>
			<nav>
			 <ul>
			  <li><form action="/lobby">
			  	<button type="submit">HOME</button>
			  </form></li>
			  <li><form action="/lobby/history">
			  	<button type="submit">ORDERS HISTORY</button>
			  </form></li>
			  <li><form action="/order">
			  	<button type="submit">ORDER BURGERS!</button>
			  </form></li>
			  <li><form action="/login">
			  	<button class="logout"style="border-color: #FF4F4D" type="submit">LOG OUT</button>
			  </form></li>
			 </ul>
			</nav>
		</header>
	</div>
	<span style="font-size: 25px; margin-left: 345px; font-weight: bold;">Your orders: </span>
	<br/><br/>
	<div class="scroll-bg">
		<div class="scroll-div">
			<div th:each="order : ${usersOrders}" style="border-bottom: 1px solid #3FC38C; width: 95%;
			margin-top: 55px; margin-left: 20px">
				<span style="font-size: 25px; margin-left: 10px; float: left">№: </span>
				<span style="font-weight: bold; font-size: 25px; margin-left: 50px;" 
				th:text="${order.id}"> </span>
				<span style="font-size: 25px; margin-left: 100px;"><ion-icon name="cash-outline"></ion-icon></span>
				<span style="font-weight: bold; font-size: 25px; margin-left: 20px;" 
				th:text="${order.price}"> </span>
				<span style="font-weight: bold; font-size: 25px;">$</span>
				
				<span style="font-size: 25px; margin-left: 100px;"><ion-icon name="time-outline"></ion-icon></span>
				<span style="font-weight: bold; font-size: 25px; margin-left: 20px;" 
				th:text="${order.ordersDate}"> </span>
			</div>
		</div>
	</div>
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>