<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 		xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Burger Cloud</title>
	<link href="url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');">
	<link th:href="@{/styles/lobbyStyle.css}" rel="stylesheet" >
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		li a:hover {
			color: white;
			transition-duration: 0.4s;
		}
		
		.bottom header a:hover{
			color: #3FC38C;
			transition-duration: 0.4s;
		}
		.bottom button:hover {
			color: white;
			background: #3FC38C;
		}
	
	</style>
</head>

<body>
	<header>
		<div>
			<nav>
			 <ul>
			  <li><a href="/">Home</a></li>
			  <li>
			  	<a th:if="${user==null}" href="/login" >Log in</a>
			  	<a th:if="${user!=null}" href="/lobby" th:text="${user.userName}"></a>
			  </li>
			  <li><a href="/">About</a></li>
			 </ul>
			</nav>
		</div>
	</header>
	<br/><br/><br/><br/><br/><br/>
	<div class="bottom">
		<img th:src="@{/images/BurgerCloudLogo.png}"/>
		<header>
			<nav>
			 <ul>
			  <li><form action="/lobby">
			  	<button type="submit">HOME</button>
			  </form></li>
			  <li><form action="/lobby/history">
			  	<button type="submit">ORDERS HISTORY</button>
			  </form></li>
			  <li><form action="/order">
			  	<button type="submit">ORDER BURGERS!</button>
			  </form></li>
			 </ul>
			</nav>
		</header>
	</div>
	
	<div style="margin-left: 320px">
		<div th:each="order : ${usersOrders}" style="border-bottom: 1px solid #3FC38C; width: 57%;
		margin-bottom: 50px;">
			<span style="font-size: 25px; margin-left: 10px; float: left">Order number: </span>
			<span style="font-weight: bold; font-size: 25px; margin-left: 50px;" 
			th:text="${order.id}"> </span>
			<span style="font-size: 25px; margin-left: 100px;">Total:</span>
			<span style="font-weight: bold; font-size: 25px; margin-left: 50px;" 
			th:text="${order.price}"> </span>
			<span style="font-weight: bold; font-size: 25px;">$</span>
		</div>
	</div>
	
	
	
	
</body>
</html>