<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 		xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Burger Cloud</title>
	<link href="url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');">
	<link th:href="@{/styles/homeStyle.css}" rel="stylesheet" >
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		li a:hover {
			color: white;
			transition-duration: 0.4s;
		}
		a:hover {
			color: #3FC38C;
		}
		
		input:hover {
			  width: 30%;
			  background-color: #3FC38C;
			  border-color: #3FC38C;
		}
		input:focus {
			  width: 30%;
			  background-color: #3FC38C;
			  border-color: #3FC38C;
		}
		.inputs {
			  text-align: center;
		}	
	</style>
</head>
<body>
	<header>

		<div>
			<nav>
			 <ul>
			  <li><a href="/">Home</a></li>
			  <li><a href="/login">Log in</a></li>
			  <li><a href="#">About</a></li>
			 </ul>
			</nav>
		</div>
	</header>
	<br/><br/><br/><br/><br/><br/>
	<img class="center" th:src="@{/images/BurgerCloudLogo.png}"/>
	<br><br><br><br>
	<form method="POST" th:action="@{/login}" th:object="${userLogin}">
		<div class="inputs">
	 		<input type="text" th:field="*{userLoginName}" name="name" placeholder="Name..."/>
	 		<span class="validationError"
			th:if="${#fields.hasErrors('userLoginName')}"
			th:errors="*{userLoginName}"></span>
	 	</div>
	 	<br/>
	 	<br/>
	 	<div class="inputs">
			<input type="password" th:field="*{userLoginPassword}" name="password" placeholder="Password..."/>
			<span class="validationError"
			th:if="${#fields.hasErrors('userLoginPassword')}"
			th:errors="*{userLoginPassword}"></span>
		</div>
		<br/>
		<br/>
		<div class="inputs">
			<input type="submit" value="I`m back!">
			<span class="validationError"
			th:if="${#fields.hasErrors('global')}"
			th:each="err : ${#fields.globalErrors()}" th:text="${err}"></span>
		</div>	
		<br/>
		<div class="wrapper-for-a">
			<a th:href="@{/register}" id="another">Register</a>
		</div>	
	</form>
</body>
</html>