<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 		xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Burger Cloud</title>
	<link href="url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');">
	<link th:href="@{/styles/homeStyle.css}" rel="stylesheet" >
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
	a {
		text-align: center;
	}
	</style>
</head>

<body>
	<br/><br/><br/>
	<a href="http://localhost:8080/">Finish your registration!</a>
	
</body>
</html>