<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 		xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Burger Cloud</title>
	<link href="url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');">
	<link th:href="@{/styles/homeStyle.css}" rel="stylesheet" >
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		li a:hover {
			color: white;
			transition-duration: 0.4s;
		}
		button:hover {
			color: white;
			background: #3FC38C;
		}
	</style>
</head>

<body>
	<header>
		<div>
			<nav>
			 <ul>
			  <li><a href="/">Home</a></li>
			  <li><a href="/login">Log in</a></li>
			  <li><a href="/">About</a></li>
			 </ul>
			</nav>
		</div>
	</header>
	<br/><br/><br/><br/><br/><br/>
	<img class="center" th:src="@{/images/BurgerCloudLogo.png}"/>
	<br>
	<form method="POST" th:action="@{/order}" th:object="${order}">
	<h3>Choose your burger:</h3><br/>
		<div class="wrapper" th:each="burger : ${avaliableBurgers}">
		 	<div class="wrapper">
				<span th:text="${burger.name}">INGREDIENT</span><br/>
	 		</div>
	 	</div>
	 	<div class="wrapper">
			<button type="submit">ORDER NOW!</button>
		</div>
	</form>
	
</body>
</html>