@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Allerta Stencil');
*{
	font-family: 'Courier', sans-serif;
}
input {
  width: 45%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  display: block-inline;
  border-color: #3FC38C;
  font-size: 16px;
  background: #F8E2C1;
  background-position: 10px; 
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 10px
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
body {
	background: #F8E2C1;
	font-family: mosntserrat;
	margin: 0;
    padding: 0;
}
.for-span{
	text-align: center;
	padding-bottom: 3%;
}

.burger-name {
	font-weight: bold;
	margin-left: 30px;
	text-align: center;
	font-size: 25px;
	border-bottom: 2px solid #3FC38C;
}

.description {
	padding-left: 30px;
	font-size: 25px;
	float: left;
}
header {
	background: #3FC38C;
	width: 100%;
	height: 50px;
	min-width: 100%;
}

header::after {
	content: '';
	display: table;
	clear: both;
}

nav {
	background: #3FC38C;
	width: 100%;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-left: 10px;
}

nav li {
	display: inline-block;
	margin-right: 50px;
	padding-top: 15px;
}

nav a {
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 21px;
}

.main-button {
	text-align: center;
	padding-top: 10px;
	background: #F8E2C1;
	border-radius: 20px;
	position: absolute;
    width: 250px;
    height: 30px;
    border: 2px solid #3FC38C;
    transition-duration: 0.4s;
    font-size: 20px;
    margin-left: 7%;    
    text-decoration: none;
}
.button-for-buy {
	width: 170px;
    height: 50px;
	background: #F8E2C1;
	border-radius: 20px;
    border-color: #3FC38C;
    transition-duration: 0.4s;
    font-size: 20px;    
    margin-left: 290px;
}

.wrapper{
	text-align: center;
	padding-right: 500px;
	padding-bottom: 50px;
}

.wrapper-for-list{
	margin-bottom: 50px;
	width: 80%;	
	border-bottom: 2px solid #3FC38C;
	margin-left: 10%;
	text-align: left;
}


::-webkit-input-placeholder
{
    color: black;
}

a {
	color: black;
	text-decoration: none;
}

.validationError {
	color: #FF4F4D;
}






